MTConnectAgentCore/MTConnectDevices.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:mt='urn:mtconnect.com:MTConnectDevices:0.9' targetNamespace='urn:mtconnect.com:MTConnectDevices:0.9'>
  <xs:element name='MTConnectDevices' type='mt:MTConnectDevicesType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='SenderType'>
    <xs:annotation>
      <xs:documentation>
        The sender of the message
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CreationTimeType'>
    <xs:annotation>
      <xs:documentation>
        The date and time the document was created
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='SequenceType'>
    <xs:annotation>
      <xs:documentation>
        A sequence number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='TestIndicatorType'>
    <xs:annotation>
      <xs:documentation>
        A debugging flag for testing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:boolean'/>
  </xs:simpleType>
  <xs:simpleType name='InstanceIdType'>
    <xs:annotation>
      <xs:documentation>
        The instance number of the agent, used for fault tolerance
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='BufferSizeType'>
    <xs:annotation>
      <xs:documentation>
        The size of the agents buffer
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='VersionType'>
    <xs:annotation>
      <xs:documentation>
        A version number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:NMTOKEN'/>
  </xs:simpleType>
  <xs:simpleType name='NameType'>
    <xs:annotation>
      <xs:documentation>
        A short name for any element
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='UuidType'>
    <xs:annotation>
      <xs:documentation>
        A universally unique id that uniquely identifies the element for
        it&apos;s entire life
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='SerialNumberType'>
    <xs:annotation>
      <xs:documentation>
        A serial number for a piece of equipment
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ItemSourceType'>
    <xs:annotation>
      <xs:documentation>
        The measurement source
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='RateType'>
    <xs:annotation>
      <xs:documentation>
        A sample rate in milliseconds per sample
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='PathType'>
    <xs:annotation>
      <xs:documentation>
        An XML path
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='HostType'>
    <xs:annotation>
      <xs:documentation>
        A host name or IP address
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='PortType'>
    <xs:annotation>
      <xs:documentation>
        The port number for a connection
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='IDType'>
    <xs:annotation>
      <xs:documentation>
        An identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:ID'/>
  </xs:simpleType>
  <xs:simpleType name='DescriptionTextType'>
    <xs:annotation>
      <xs:documentation>
        A description
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:complexType name='HeaderType'>
    <xs:annotation>
      <xs:documentation>
        Message header for protocol information
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='xs:string'>
        <xs:attribute name='version' type='mt:VersionType' use='required'/>
        <xs:attribute name='creationTime' type='mt:CreationTimeType' use='required'/>
        <xs:attribute name='nextSequence' type='mt:SequenceType' use='optional'/>
        <xs:attribute name='testIndicator' type='mt:TestIndicatorType' use='optional'/>
        <xs:attribute name='instanceId' type='mt:InstanceIdType' use='required'/>
        <xs:attribute name='sender' type='mt:SenderType' use='required'/>
        <xs:attribute name='bufferSize' type='mt:BufferSizeType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name='DataItemEnumType'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACCELERATION'/>
      <xs:enumeration value='ALARM'/>
      <xs:enumeration value='AMPERAGE'/>
      <xs:enumeration value='ANGLE'/>
      <xs:enumeration value='ANGULAR_ACCELERATION'/>
      <xs:enumeration value='ANGULAR_VELOCITY'/>
      <xs:enumeration value='BLOCK'/>
      <xs:enumeration value='CODE'/>
      <xs:enumeration value='DIRECTION'/>
      <xs:enumeration value='EXECUTION'/>
      <xs:enumeration value='PATH_FEEDRATE'/>
      <xs:enumeration value='AXIS_FEEDRATE'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROLLER_MODE'/>
      <xs:enumeration value='LOAD'/>
      <xs:enumeration value='OTHER'/>
      <xs:enumeration value='POSITION'/>
      <xs:enumeration value='POWER_STATUS'/>
      <xs:enumeration value='PRESSURE'/>
      <xs:enumeration value='PROGRAM'/>
      <xs:enumeration value='SPINDLE_SPEED'/>
      <xs:enumeration value='STATUS'/>
      <xs:enumeration value='TEMPERATURE'/>
      <xs:enumeration value='TICK'/>
      <xs:enumeration value='TOOL'/>
      <xs:enumeration value='TRANSFER'/>
      <xs:enumeration value='VELOCITY'/>
      <xs:enumeration value='VIBRATION'/>
      <xs:enumeration value='VOLTAGE'/>
      <xs:enumeration value='WATTS'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemSubEnumType'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTUAL'/>
      <xs:enumeration value='COMMANDED'/>
      <xs:enumeration value='DISTANCE'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='MAX_OVERRIDE'/>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='OTHER'/>
      <xs:enumeration value='OVERRIDE'/>
      <xs:enumeration value='TARGET'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='MTConnectDevicesType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Header' type='mt:HeaderType'>
        <xs:annotation>
          <xs:documentation>
            Protocol dependent information
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Devices' type='mt:DevicesType'>
        <xs:annotation>
          <xs:documentation>
            The equipment
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name='StationType'>
    <xs:annotation>
      <xs:documentation>
        The station id for this device
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='Iso841ClassType'>
    <xs:annotation>
      <xs:documentation>
        The ISO 841 classification for the device
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:complexType name='DevicesType'>
    <xs:annotation>
      <xs:documentation>
        The top level components
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='unbounded' name='Device' minOccurs='1' type='mt:DeviceType'>
        <xs:annotation>
          <xs:documentation>
            A piece of equipment
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ComponentType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract component type. This is a placeholder for all components
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='1' name='Description' minOccurs='0' type='mt:ComponentDescriptionType'>
        <xs:annotation>
          <xs:documentation>
            The descriptive information about this component
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs='1' name='DataItems' minOccurs='0' type='mt:DataItemsType'>
        <xs:annotation>
          <xs:documentation>
            The component&apos;s Data Items
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='id' type='mt:IDType' use='required'/>
    <xs:attribute name='name' type='mt:NameType' use='optional'/>
    <xs:attribute name='uuid' type='mt:UuidType' use='optional'/>
    <xs:attribute name='host' type='mt:HostType' use='optional'/>
    <xs:attribute name='port' type='mt:PortType' use='optional'/>
    <xs:attribute name='sampleRate' type='mt:SampleRateType' use='optional'/>
  </xs:complexType>
  <xs:element name='Component' abstract='true' type='mt:ComponentType'>
    <xs:annotation>
      <xs:documentation>
        An abstract component type. This is a placeholder for all components
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ComponentDescriptionType'>
    <xs:annotation>
      <xs:documentation>
        The descriptive information for this component. This can be manufacturer
        specific
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='mt:DescriptionTextType'>
        <xs:attribute name='manufacturer' type='mt:NameType' use='optional'/>
        <xs:attribute name='serialNumber' type='mt:SerialNumberType' use='optional'/>
        <xs:attribute name='station' type='mt:StationType' use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='ComponentsType'>
    <xs:annotation>
      <xs:documentation>
        A list of generic components
      </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs='unbounded' minOccurs='0'>
      <xs:element name='Power' type='mt:PowerType'>
        <xs:annotation>
          <xs:documentation>
            The power status of this component
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref='mt:Component'/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name='DeviceType'>
    <xs:annotation>
      <xs:documentation>
        The top level component managed by the agent
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:ComponentType'>
        <xs:sequence>
          <xs:element name='Components' type='mt:DeviceComponentsType'>
            <xs:annotation>
              <xs:documentation>
                The device&apos;s components
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name='iso841Class' type='mt:Iso841ClassType' use='required'/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Device' type='mt:DeviceType' substitutionGroup='mt:Component'>
    <xs:annotation>
      <xs:documentation>
        The top level component managed by the agent
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DeviceComponentsType'>
    <xs:annotation>
      <xs:documentation>
        The components for the top level device
      </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs='unbounded' minOccurs='0'>
      <xs:element name='Power' type='mt:PowerType'>
        <xs:annotation>
          <xs:documentation>
            The power status of this component
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Axes' type='mt:AxesType'>
        <xs:annotation>
          <xs:documentation>
            The equipment&apos;s axes
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Controller' type='mt:ControllerType'>
        <xs:annotation>
          <xs:documentation>
            The equipment&apos;s controller
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref='mt:Component'/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name='ControllerType'>
    <xs:annotation>
      <xs:documentation>
        A controller
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:ComponentType'>
        <xs:sequence>
          <xs:element maxOccurs='1' name='Components' minOccurs='0' type='mt:ComponentsType'>
            <xs:annotation>
              <xs:documentation>
                The sub-components of the controller
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Controller' type='mt:ControllerType' substitutionGroup='mt:Component'>
    <xs:annotation>
      <xs:documentation>
        A controller
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PowerType'>
    <xs:annotation>
      <xs:documentation>
        A power measuring component
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:ComponentType'>
        <xs:sequence>
          <xs:element maxOccurs='1' name='Components' minOccurs='0' type='mt:ComponentsType'>
            <xs:annotation>
              <xs:documentation>
                The sub-components of power supply
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Power' type='mt:PowerType' substitutionGroup='mt:Component'>
    <xs:annotation>
      <xs:documentation>
        A power measuring component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SensorType'>
    <xs:annotation>
      <xs:documentation>
        A sensor, this is not abstract to allow for easy extensibility.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:ComponentType'>
        <xs:sequence>
          <xs:element maxOccurs='1' name='Components' minOccurs='0' type='mt:ComponentsType'>
            <xs:annotation>
              <xs:documentation>
                The sub-components
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Sensor' type='mt:SensorType' substitutionGroup='mt:Component'>
    <xs:annotation>
      <xs:documentation>
        A sensor, this is not abstract to allow for easy extensibility.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ThermostatType'>
    <xs:annotation>
      <xs:documentation>
        A thermostate
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:SensorType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Thermostat' type='mt:ThermostatType' substitutionGroup='mt:Sensor'>
    <xs:annotation>
      <xs:documentation>
        A thermostate
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AxesType'>
    <xs:annotation>
      <xs:documentation>
        The machines axes. There are currently four types of axes available
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:ComponentType'>
        <xs:sequence>
          <xs:element name='Components' type='mt:AxesComponentsType'>
            <xs:annotation>
              <xs:documentation>
                Axes components
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Axes' type='mt:AxesType' substitutionGroup='mt:Component'>
    <xs:annotation>
      <xs:documentation>
        The machines axes. There are currently four types of axes available
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AxesComponentsType'>
    <xs:annotation>
      <xs:documentation>
        The componets for the axes. The global measurements are contained in the
        measurements element of this component.
      </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs='unbounded' minOccurs='1'>
      <xs:element name='Linear' type='mt:LinearType'>
        <xs:annotation>
          <xs:documentation>
            An axis for the machine
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Rotary' type='mt:RotaryType'>
        <xs:annotation>
          <xs:documentation>
            An axis for the machine
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Spindle' type='mt:SpindleType'>
        <xs:annotation>
          <xs:documentation>
            An axis for the machine
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref='mt:Axis'/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name='AxisType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        A abstract machine axis
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:ComponentType'>
        <xs:sequence>
          <xs:element maxOccurs='1' name='Components' minOccurs='0' type='mt:AxisComponentsType'>
            <xs:annotation>
              <xs:documentation>
                Sub-components of the Axis
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Axis' abstract='true' type='mt:AxisType' substitutionGroup='mt:Component'>
    <xs:annotation>
      <xs:documentation>
        A abstract machine axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AxisComponentsType'>
    <xs:annotation>
      <xs:documentation>
        Components for an axis
      </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs='unbounded' minOccurs='0'>
      <xs:element name='Thermostat' type='mt:ThermostatType'>
        <xs:annotation>
          <xs:documentation>
            The components temperature
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Power' type='mt:PowerType'>
        <xs:annotation>
          <xs:documentation>
            The power status of this component
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref='mt:Component'/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name='LinearType'>
    <xs:annotation>
      <xs:documentation>
        A linear axis
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:AxisType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Linear' type='mt:LinearType' substitutionGroup='mt:Axis'>
    <xs:annotation>
      <xs:documentation>
        A linear axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='RotaryType'>
    <xs:annotation>
      <xs:documentation>
        A rotary axis that moves in a rotational manor
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:AxisType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Rotary' type='mt:RotaryType' substitutionGroup='mt:Axis'>
    <xs:annotation>
      <xs:documentation>
        A rotary axis that moves in a rotational manor
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SpindleType'>
    <xs:annotation>
      <xs:documentation>
        A spindle axis that spins
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='mt:AxisType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Spindle' type='mt:SpindleType' substitutionGroup='mt:Axis'>
    <xs:annotation>
      <xs:documentation>
        A spindle axis that spins
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='SampleRateType'>
    <xs:annotation>
      <xs:documentation>
        The rate a measurement is sampled
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='CategoryType'>
    <xs:annotation>
      <xs:documentation>
        The measurement sampling type
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='EVENT'/>
      <xs:enumeration value='SAMPLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NativeScaleType'>
    <xs:annotation>
      <xs:documentation>
        The multiplier for the native value. Conversion divides by this value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='UnitsType'>
    <xs:annotation>
      <xs:documentation>
        The units supported
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='STATUS'/>
      <xs:enumeration value='MILLIMETER'/>
      <xs:enumeration value='DEGREE'/>
      <xs:enumeration value='MILLIMETER/SECOND'/>
      <xs:enumeration value='DEGREE/SECOND'/>
      <xs:enumeration value='MILLIMETER/SECOND^2'/>
      <xs:enumeration value='DEGREE/SECOND^2'/>
      <xs:enumeration value='LITER'/>
      <xs:enumeration value='KILOGRAM'/>
      <xs:enumeration value='NEWTON'/>
      <xs:enumeration value='CELSIUS'/>
      <xs:enumeration value='REVOLUTION/MINUTE'/>
      <xs:enumeration value='VOLT'/>
      <xs:enumeration value='AMPERE'/>
      <xs:enumeration value='WATT'/>
      <xs:enumeration value='TICK'/>
      <xs:enumeration value='PERCENT'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NativeUnitsType'>
    <xs:annotation>
      <xs:documentation>
        The units supported for the source equipment that can be converted into
        MTC Units.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='STATUS'/>
      <xs:enumeration value='MILLIMETER'/>
      <xs:enumeration value='DEGREE'/>
      <xs:enumeration value='MILLIMETER/SECOND'/>
      <xs:enumeration value='DEGREE/SECOND'/>
      <xs:enumeration value='MILLIMETER/SECOND^2'/>
      <xs:enumeration value='DEGREE/SECOND^2'/>
      <xs:enumeration value='LITER'/>
      <xs:enumeration value='KILOGRAM'/>
      <xs:enumeration value='NEWTON'/>
      <xs:enumeration value='CELSIUS'/>
      <xs:enumeration value='REVOLUTION/MINUTE'/>
      <xs:enumeration value='VOLT'/>
      <xs:enumeration value='AMPERE'/>
      <xs:enumeration value='WATT'/>
      <xs:enumeration value='TICK'/>
      <xs:enumeration value='PERCENT'/>
      <xs:enumeration value='INCH'/>
      <xs:enumeration value='INCH/MINUTE'/>
      <xs:enumeration value='INCH/SECOND'/>
      <xs:enumeration value='INCH/SECOND^2'/>
      <xs:enumeration value='FOOT'/>
      <xs:enumeration value='FOOT/MINUTE'/>
      <xs:enumeration value='FOOT/SECOND'/>
      <xs:enumeration value='FOOT/SECOND^2'/>
      <xs:enumeration value='POUND'/>
      <xs:enumeration value='FAHRENHEIT'/>
      <xs:enumeration value='RADIAN'/>
      <xs:enumeration value='RADIAN/SECOND'/>
      <xs:enumeration value='RADIAN/SECOND^2'/>
      <xs:enumeration value='RADIAN/MINUTE'/>
      <xs:enumeration value='MILLIMETER/MINUTE'/>
      <xs:enumeration value='DEGREE/MINUTE'/>
      <xs:enumeration value='REVOLUTION/SECOND'/>
      <xs:enumeration value='OTHER'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='DataItemsType'>
    <xs:annotation>
      <xs:documentation>
        A generic list of measurements for all axis
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='unbounded' name='DataItem' minOccurs='1' type='mt:DataItemType'>
        <xs:annotation>
          <xs:documentation>
            A measurement for this component
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='DataItemType'>
    <xs:annotation>
      <xs:documentation>
        A abstract measurement
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='1' name='Source' minOccurs='0' type='mt:SourceType'>
        <xs:annotation>
          <xs:documentation>
            The measurement&apos;s source. This is the native machine identifier
            for this measurement. The source will be used to identify the
            correct incoming value with the measurement.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='name' type='mt:NameType' use='required'/>
    <xs:attribute name='id' type='mt:IDType' use='required'/>
    <xs:attribute name='type' type='mt:DataItemEnumType' use='required'/>
    <xs:attribute name='subType' type='mt:DataItemSubEnumType' use='optional'/>
    <xs:attribute name='units' type='mt:UnitsType' use='optional'/>
    <xs:attribute name='nativeUnits' type='mt:NativeUnitsType' use='optional'/>
    <xs:attribute name='nativeScale' type='mt:NativeScaleType' use='optional'/>
    <xs:attribute name='category' type='mt:CategoryType' use='required'/>
  </xs:complexType>
  <xs:complexType name='SourceType'>
    <xs:annotation>
      <xs:documentation>
        A native data source
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='mt:ItemSourceType'/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>